*{
    z-index: 50;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}
.prompt-message {
  max-width: max-content;
  font-size: 14px;
  font-weight: 400;
  color: #666d80;
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}
.prompt-message.user {
  align-self: flex-end;
  background-color: #dfe1e7;
}
.prompt-message.system {
  align-self: flex-start;
  background-color: #dbeafe;
}
.prompt-input {
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #dfe1e7;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.generate-button,
.regenerate-button {
  background-color: #3b82f6;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 6px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  cursor: pointer;
  border: none;
}
.insert-button {
  color: #666d80;
  border: 2px solid #666d80;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 6px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  cursor: pointer;
  background-color: transparent;
}
.button-icon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
